{% extends 'base.html.twig' %}

{% block body %}
    <h1>Setting creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Create" />
    {{ form_end(form) }}

    <a href="{{ path('setting_index') }}">Back to the list</a>
{% endblock %}
